<div class="container">
    <p>Выберите решения из списка, чтобы их удалить</p>
    <mat-form-field >
        <mat-label>Решения:</mat-label>
        <mat-select [formControl]="solutionsControl" (click)="showAvailableSolutions()" multiple>
        
        <mat-select-trigger>
            <mat-chip-list>
            <mat-chip *ngFor="let solution of solutionsControl.value"
                [removable]="true" (removed)="onSolutionRemoved(solution)" color="accent" selected>
                {{ solution }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            </mat-chip-list>
        </mat-select-trigger>
        
        <mat-option *ngFor="let solution of availableSolutions" [value]="solution.solutionText">
            {{ solution.solutionText }}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <button mat-raised-button color="accent"
        (click)="deleteSolutions()">Удалить решения</button>
    </div>
</div>