<div class="row justify-content-start">

    <div class="col">
        <mat-form-field>
            <input matInput type="text" placeholder="Текст ответа" [(ngModel)]="this.answer.answerText">
        </mat-form-field>
    </div>

    <div class="col">
        <mat-form-field >
          <mat-label>Решения:</mat-label>
          <mat-select [formControl]="solutionsControl" (click)="showAvailableSolutions()" multiple #select>
            <mat-option *ngFor="let solution of availableSolutions" [value]="solution.solutionText" (click)="addNewSolution(select.value)">
              {{ solution.solutionText }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <p>Выбранные решения:</p>
        <p *ngFor="let val of select.value">
          <mat-label>{{ val }}</mat-label>
        </p>

    </div>
</div>