<div class="row justify-content-start">

    <div class="col">
        <mat-form-field>
            <input matInput type="text" placeholder="Текст ответа" [(ngModel)]="this.answer.answerText">
        </mat-form-field>
    </div>

    <div class="col">
        <mat-form-field >
          <mat-label>Решение:</mat-label>
          <mat-select (click)="showAvailableSolutions()" #select *ngIf="!hideDropdown">
            <mat-option *ngFor="let solution of availableSolutions" [value]="solution.solutionText">
              {{ solution.solutionText }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
</div>