<div class="container">
    <p>Впишите решение проблемы, чтобы добавить его в базу данных</p>
    <mat-form-field color="accent">
        <input matInput type="text" placeholder="Решение проблемы" [(ngModel)]="this.solution.solutionText">
    </mat-form-field>
    <div>
        <button mat-raised-button color="accent"
        (click)="addSolution()">Добавить решение</button>
    </div>
    <div *ngIf="this.isFailed" class="alert alert-danger">
        Такое решение уже существует
    </div>
</div>
