<div class="container">
    <p>Впишите решение проблемы, чтобы добавить его в базу данных</p>
    <mat-form-field color="accent">
        <input matInput type="text" placeholder="Решение проблемы" [(ngModel)]="this.solution.solutionText">
    </mat-form-field>
    <div>
        <button mat-raised-button color="accent"
        (click)="addSolution()">Добавить решение</button>
    </div>
    <div *ngIf="this.isFailed" class="alert alert-danger">
        Такое решение уже существует
    </div>
</div>

<div style="margin-top: 10px;" class="container">
    <h2>Решения</h2>
    <div class="row" *ngFor="let solution of this.availableSolutions; let i = index">
        <mat-divider></mat-divider>
        <p>Решение: {{ solution.solutionText }}</p>
        <p>ID: {{ solution.id }}</p>
        <div>
            <button mat-raised-button color="accent" class="accent" (click)="deleteSolution(solution, i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>