<div class="container">
    <p>Впишите решение проблемы, чтобы добавить его в базу данных</p>
    <mat-form-field color="accent">
        <input matInput type="text" placeholder="Решение проблемы" [(ngModel)]="this.solution.solutionText">
    </mat-form-field>
    <div>
        <button mat-raised-button color="accent"
        (click)="addSolution()">Добавить решение</button>
    </div>
    <div *ngIf="this.isFailed" class="alert alert-danger">
        Такое решение уже существует
    </div>
</div>


<div style="margin-top: 10px;" class="container">
    <h2>Решения</h2>
    <div class="table-responsive">
        <table class="table table-bordered p-0 m-0">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Текст решения</th>
                    <th scope="col">Действие</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let solution of availableSolutions; let i = index">
                    <td>{{ solution.id }}</td>
                    <td>{{ solution.solutionText }}</td>
                    <td>
                        <button mat-raised-button color="accent" class="accent" (click)="deleteSolution(solution, i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr scope="row" *ngIf="availableSolutions.length === 0">
                    <td colspan="6" class="text-center">Решения отсутствуют</td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" 
        [length]="this.length" (page)="nextPage($event)" #paginator> </mat-paginator>
    </div>
</div>