<div class="container">
    <h2>Ответы</h2>
    <div class="row" *ngFor="let answer of this.answers">
        <mat-divider></mat-divider>
        <div class="col">
            <p>Ответ: {{ answer.answerText }}</p>
            <p>ID ответа: {{ answer.id }}</p>
        </div>
        <div class="col">
            <button mat-button color="accent" (click)="deleteAnswer(answer)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-button color="accent" (click)="openEditDialog(answer)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="accent" (click)="openDetailInfoDialog(answer)">
                <mat-icon>info</mat-icon>
            </button>
        </div>
    </div>
</div>