<div class="container">
    <p>Впишите название вопроса</p>
    <mat-form-field color="accent">
        <input matInput type="text" placeholder="Название вопроса" [(ngModel)]="this.currentQuestion.questionText">
    </mat-form-field>

    <div class="button">
        <button mat-raised-button color="accent"
        (click)="addAnswer()">Добавить ответ</button>
    </div>

    <div *ngFor="let answer of this.currentQuestion.answers; let i = index">
        <mat-divider></mat-divider>
        <app-create-answer [answer]="answer"></app-create-answer>
        <button mat-raised-button color="accent" (click)="deleteAnswer(i)">Удалить</button>
    </div>            

    <div *ngIf="this.currentQuestion.answers.length > 0">
        <mat-divider></mat-divider>
        <button mat-raised-button color="accent" [disabled]="!this.currentQuestion.questionText"
        (click)="addQuestion()">Отправить вопрос</button>
    </div>
</div>


<div style="margin-top: 10px;" class="container">
    <h2>Вопросы</h2>
    <div class="table-responsive">
        <table class="table table-bordered p-0 m-0">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Текст вопроса</th>
                    <th scope="col">Действие</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let question of availableQuestions; let i = index">
                    <td>{{ question.id }}</td>
                    <td>{{ question.questionText }}</td>
                    <td>
                        <div class="button-flex-container">
                            <button mat-icon-button color="accent" (click)="deleteQuestion(question, i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" (click)="openEditDialog(question)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" (click)="openDetailInfoDialog(question)">
                                <mat-icon>info</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr scope="row" *ngIf="availableQuestions.length === 0">
                    <td colspan="6" class="text-center">Вопросы отсутствуют</td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" 
        [length]="this.length" (page)="nextPage($event)" #paginator> </mat-paginator>
    </div>
</div>